<mat-tab-group>
  <mat-tab label="Attribut-Editor">
    <app-attribute-definition-editor></app-attribute-definition-editor>
  </mat-tab>
  <mat-tab label="Activity-Editor">
    <app-activity-catalog-settings></app-activity-catalog-settings>
  </mat-tab>
  <mat-tab label="Activity-Types">
    <app-activity-type-settings></app-activity-type-settings>
  </mat-tab>
  <mat-tab label="Layer-Gruppen">
    <app-layer-group-settings></app-layer-group-settings>
  </mat-tab>
  <mat-tab label="Übersetzungen">
    <app-translation-settings></app-translation-settings>
  </mat-tab>
</mat-tab-group>
