<div class="md-layout">
  <header class="md-layout__header">
    <div>
      <h2>{{ title }}</h2>
      <p>{{ subtitle }}</p>
    </div>
  </header>

  <mat-tab-group
    animationDuration="300ms"
    [selectedIndex]="selectedIndex()"
    (selectedIndexChange)="handleTabChange($event)"
    class="md-layout__tabs"
  >
    <mat-tab *ngFor="let tab of tabs">
      <ng-template mat-tab-label>
        <mat-icon *ngIf="tab.icon" [fontIcon]="tab.icon"></mat-icon>
        <span>{{ tab.title }}</span>
      </ng-template>

      <section class="md-layout__content">
        <p class="md-layout__tab-description">{{ tab.description }}</p>

        <div class="md-layout__sections">
          <ng-container *ngFor="let section of tab.sections">
            <ng-container *ngIf="isCategorySection(section); else hierarchySection">
              <div class="md-layout__section" [attr.data-section-id]="section.id">
                <header
                  *ngIf="section.title || section.description"
                  class="md-layout__section-header"
                >
                  <h3 *ngIf="section.title">{{ section.title }}</h3>
                  <p *ngIf="section.description">{{ section.description }}</p>
                </header>
                <app-master-data-category [config]="section.config" />
              </div>
            </ng-container>

            <ng-template #hierarchySection>
              <ng-container *ngIf="isHierarchySection(section)">
                <app-master-data-hierarchy-section [config]="section.config" />
              </ng-container>
            </ng-template>
          </ng-container>
        </div>
      </section>
    </mat-tab>
  </mat-tab-group>
</div>
