<div class="general-section" [formGroup]="form">
  @if (hasControl(nameControl)) {
    <mat-form-field appearance="outline">
      <mat-label>{{ label('name') }}</mat-label>
      <input
        matInput
        [formControlName]="nameControl!"
        [placeholder]="placeholder('name') ?? ''"
      />
      @if (description('name')) {
        <button
          mat-icon-button
          matSuffix
          type="button"
          class="help-icon"
          [matTooltip]="description('name')!"
          [attr.aria-label]="label('name') + ' Hilfe'"
        >
          <mat-icon>help_outline</mat-icon>
        </button>
      }
      @if (hints.name) {
        <mat-hint>{{ hints.name }}</mat-hint>
      }
    </mat-form-field>
  }

  @if (hasControl(responsibleControl)) {
    <mat-form-field appearance="outline">
      <mat-label>{{ label('responsible') }}</mat-label>
      <input
        matInput
        [formControlName]="responsibleControl!"
        [placeholder]="placeholder('responsible') ?? ''"
      />
      @if (description('responsible')) {
        <button
          mat-icon-button
          matSuffix
          type="button"
          class="help-icon"
          [matTooltip]="description('responsible')!"
          [attr.aria-label]="label('responsible') + ' Hilfe'"
        >
          <mat-icon>help_outline</mat-icon>
        </button>
      }
      @if (hints.responsible) {
        <mat-hint>{{ hints.responsible }}</mat-hint>
      }
    </mat-form-field>
  }

  @if (hasControl(deviationControl)) {
    <mat-form-field appearance="outline">
      <mat-label>{{ label('deviation') }}</mat-label>
      <input
        matInput
        [formControlName]="deviationControl!"
        [placeholder]="placeholder('deviation') ?? ''"
      />
      @if (description('deviation')) {
        <button
          mat-icon-button
          matSuffix
          type="button"
          class="help-icon"
          [matTooltip]="description('deviation')!"
          [attr.aria-label]="label('deviation') + ' Hilfe'"
        >
          <mat-icon>help_outline</mat-icon>
        </button>
      }
      @if (hints.deviation) {
        <mat-hint>{{ hints.deviation }}</mat-hint>
      }
    </mat-form-field>
  }

  @if (hasControl(tagsControl)) {
    <mat-form-field appearance="outline">
      <mat-label>{{ label('tags') }}</mat-label>
      <input
        matInput
        [formControlName]="tagsControl!"
        [placeholder]="placeholder('tags') ?? ''"
      />
      @if (description('tags')) {
        <button
          mat-icon-button
          matSuffix
          type="button"
          class="help-icon"
          [matTooltip]="description('tags')!"
          [attr.aria-label]="label('tags') + ' Hilfe'"
        >
          <mat-icon>help_outline</mat-icon>
        </button>
      }
      @if (hints.tags) {
        <mat-hint>{{ hints.tags }}</mat-hint>
      }
    </mat-form-field>
  }
</div>
